.communitylist v-card-title {
  font-size: 1.2em !important;
}
.com th {
  font-size: 1.2em !important;
  color: rgb(238, 160, 58) !important;
}
.reviewback {
  background-color: gainsboro !important;
  margin-top: 40px;
}
